<%= form_for @booking do |f| %>
<br/>

  <div class="field form-group">
    <%= f.label :catégorie_id %><br/>
    <%= f.collection_select :categorie_id, Categorie.order(:name), :id, :name, include_blank: true %>
  </div>
  <br/>

  <div class="field form-group">
    <%= f.label :location_id %><br/>
    <%= f.grouped_collection_select :location_id, Categorie.order(:name), :locations, :name, :id, :name, include_blank: true %>
  </div>
  <br/>

  <div class="field form-group">
    <%= f.label :start %><br/>
    <%= f.datetime_select :start %>
  </div>
  <br/>

  <div class="field form-group">
    <%= f.label :ends %><br/>
    <%= f.datetime_select :ends %>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit "Réserver", :class => 'btnbis' %>
  </div>
<% end %>


            