<br/>
<div class="row">
  <div class=" col-sm-6 col-md-4 mx-auto">
    <div class="card text-center">
      <div class="card-header">Modifier votre mot de passe</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
          <br/>

            <div class="field form-group">
            <br/>
            <i class="fas fa-lock"></i>
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"Nouveau mot de passe", class:"myInput" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
                <% end %>
            </div>

            <div class="field form-group">
            <i class="fas fa-lock"></i>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirmation mot de passe", class:"myInput" %>
            </div>

            <div class="actions">
            <br/>
              <%= f.submit "Mise à jour", :class => 'btnbis' %>
            </div>

          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>