<h1>Search Result</h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_locations.empty? %>
    <p>No records found</p>
<% else %>
    <% @search.search_locations.each do |l| %>
    <br/>
    <div class="div">
        <h1><%= l.name %></h1>
        <p>Price: <%= l.price %></p>
        <p>Categorie: <%= l.categorie %></p>
        <p>Supercify: <%= l.superficy %></p>
        <p>Rooms: <%= l.rooms %></p>
    </div>

<% end %>

<% end %>