<br/>
  <%= render "locations/categories_list" %>
   <div class="container" style="margin-top:50px;">
   <h1 class="text-center">Toutes les locations</h1>
        <br />
        <div class="row">
          <div class="col text-center mx-auto">
          <%= form_tag locations_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Recherche" %>
          <% end %>
          </div>
        </div>
        <br />
        <br />

    
        <%= paginate @locations %>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <% @locations.each do |location| %>
          <div class="col">
            <div class="card-sl shadow-lg">
              <div class="card-image">
                <%= image_tag location.picture, class:"img-fluid", width: "auto" if location.picture.attached? %>
              </div>
              <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                <div class="card-heading">
                  <%= location.name %>
                </div>
                <div class="card-text">
                  Superficy : <%= location.superficy %>
                </div>
                <div class="card-text">
                  Pièces : <%= location.rooms %>
                </div>
                <div class="card-text">
                 Prix : <%= location.price %> €
                </div>

                <div class="col mx-auto text-center">
                  <%= link_to 'Détails', location, class:"links" %>     
                  <%= link_to 'Modifier', edit_location_path(location), class:"links" %>     
                  <%= link_to 'Supprimer', location, method: :delete, data: { confirm: 'En êtes-vous sûrs ?' }, class:"links" %>
                </div>
            </div>
          </div>
       
        <% end %>
      </div> 
    </div>
